/**
	GRID CLASSIC
*/

// --- INCLUDES ---

@import "mixins/general";
@import "mixins/column";


// --- VARIABLES ---

$columnPadding: 1em !default;
$maxPageWidth: 100% !default;
$rowTopPadding: 0 !default;

// --- GRID ---

@if $rowTopPadding == 0 {
	body {
		margin-top: 1.5em;
	}
}

.row {

	max-width: $maxPageWidth;
	overflow: hidden;
	padding-top: $rowTopPadding;

	.columnFull,
	.column,
	.columnThin,
	.columnMicro,
	.columnMain,
	.columnSide {

		@include columnDefault;

	}

	> .h1 {

		@include columnDefault;
		
		padding: 0 $columnPadding * 0.5;

	}

	> .h2 {

		@include columnDefault;

		padding: 0 $columnPadding * 0.7;

	}

	> .h3 {

		@include columnDefault;

	}

}