.sectionNav {

    clear: left;
    padding: 0;
    text-transform: uppercase;

    .menu {
        display: none;
    }

    .navItemLabel {
        padding: 1em;
    }

    a.menu:hover {
        text-decoration: none;
    }

    .navItem,
    .navItemLabel {
        display: block;
        padding: 1em 1em 1em 2em;
        text-decoration: none;
    }

    .navSub .navItem {
        margin-left: 1em;
    }

    .navItemLabel {
        display: block;
        padding-bottom: 1em;
    }

    .nav a:hover,
    .navSub:hover .navItemLabel {
        background: #eee;
    }

}