@if $classic {

    .sectionNav {

        clear: left;
        padding: 0;
        text-transform: uppercase;

        .menu {
            display: none;
        }

        .navItemLabel {
            padding: 1em;
        }

        a.menu:hover {
            text-decoration: none;
        }

        .navItem,
        .navItemLabel {
            display: block;
            padding: 1em 1em 1em 2em;
            text-decoration: none;
        }

        .navSub .navItem {
            margin-left: 1em;
        }

        .navItemLabel {
            display: block;
            padding-bottom: 1em;
        }

        .nav a:hover,
        .navSub:hover .navItemLabel {
            background: #eee;
        }

    }

}

@if $modern {

    .js {
        .sectionNav {
            .padding {
                margin: 0;
            }
        }
    }

    @include respondMinMax(false, 639px) {

        .js {

            .menuHolder {

                margin: 1em 0 auto;

                .menu {
                    display: block;
                    margin-bottom: 1em;
                    padding: 1em;
                    position: relative;
                }

                .menu:hover {
                    background: #eee;
                }

                .menu:active {
                    background: #ddd;
                }

                .menu span {
                    border-top: 5px solid transparent;
                    border-right: 5px solid #000;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid transparent;
                    display: block;
                    position: absolute;
                    right: 1em;
                    top: 1em;
                }

            }

            .sectionNav {
                clear: none;
                margin: 0;
                overflow: initial;
                position: relative;

                .nav {
                    background: #fff;
                    border-radius: 5px;
                    left: 0;
                    height: 0;
                    margin: 0 1em 1em;
                    position: absolute;
                    overflow: hidden;
                    right: 0;
                    top: 0;
                }

            }

           .navOpen {

                .nav {
                    border: 2px solid #999;
                    border-radius: 5px;
                    box-shadow: #ccc 3px 1px 5px, #ccc -3px 1px 5px, #ccc 0 3px 5px;
                    clear: both;
                    height: auto;
                }

                .menu {

                    span {
                        border-top: 5px solid #000;
                        border-right: 5px solid transparent;
                        border-bottom: 5px solid transparent;
                        border-left: 5px solid transparent;
                        margin-top: 2.5px;

                    }

                }

            }

        }

    }

    @include respondMinMax(480px, 639px) {

        .js {

            .pageTitle {
                float: left;
                width: 75%;
            }

            .menuHolder {

                float: right;
                width: 25%;
                text-align: center;

                .menu {
                    padding: 1em 0;
                }
                
                .menu span {
                    border-top: none;
                    border-right: 0.5em solid transparent;
                    border-bottom: 0.5em solid #000;
                    border-left: 0.5em solid transparent;
                    position: static;
                    margin: 1em auto 0;
                    width: 0;
                }

            }

            .navOpen {
                .nav {
                    left: 50%;
                }
                .menu {
                    span {
                        border-top: 0.5em solid #000;
                        border-right: 0.5em solid transparent;
                        border-bottom: none;
                        border-left: 0.5em solid transparent;
                    }
                }
            }

        }

    }

    @include respondMinMax(640px, false) {

        .js #head {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .menuHolder {
            display: none;
        }

        .sectionNav {

            .navItem,
            .navItemLabel {
                float: left;
                font-size: 0.75em;
                letter-spacing: 1px;
                padding-left: 1em;
            }

            .navSub {

                float: left;
                padding: 0;

                .navSubList {
                    position: absolute;
                    z-index: 10;
                }

                .navItem,
                .navItemLabel {
                    float: none;
                }

                .navItem {
                    background: white;
                    height: 0;
                    margin-left: 0;
                    padding: 0 1em;
                    overflow: hidden;
                }

            }

            .navSubOpen .navItem {
                height: auto;
                padding: 1em;
            }

        }

    }

    @include respondMinMax(840px, false) {

        .sectionNav {
            .navItemLabel,
            .navItem {
                font-size: 0.9em;
                letter-spacing: 0;
                padding-left: 1em;
            }
        }

    }

}